<footer class="blog-footer">
    <p>Site template built for <a href="http://www.integrity.com.ua/">Integrity Vision</a> by <a href="https://www.facebook.com/panov.sergey.7">@gostroy</a>.</p>
    <p>Adapted to Hexo by <a href="mailto:gostroy@gmail.com">@gostroy</a>.</p>
    <p><a href="#">Back to top</a></p>
</footer>