<div class="row">

    <!-- Main Content -->
    <div class="col-sm-8 blog-main">
        <% page.posts.each(function(item){ %>
            <%- partial('_partial/article-excerpt', {item: item}) %>
        <% }); %>
    </div>

    <!-- Sidebar -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <%- partial('_partial/sidebar') %>
    </div>

</div>
