<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <%- partial('_partial/index/news') %>
        </div>
        <div class="col-sm-6">
            <%- partial('_partial/index/news2') %>
        </div>
    </div>

</div>

