<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <%- partial('_partial/index/news') %>
        </div>
        <div class="col-sm-6">
            <%- include _partial/index/rm-api.html %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <%- include _partial/index/google-coworker.html %>
        </div>
        <div class="col-sm-6">
            <%- include _partial/index/google-form.html %>
        </div>
    </div>

</div>

